<section class="container p-5">
    <form [formGroup]="registroform" class="border border-warning p-5 back mx-5" (submit)="save()">
      <h2 class="text-center">Inicio de sesión</h2>
      <section class="form-group ">
        <label for="nombres" class="mt-3 h5">Nombres:</label>
        <input formControlName="nombres" type="text" class="form-control my-3" id="nombres" name="nombres" required minlength="3" maxlength="25" autocomplete="off">
        <section *ngIf="nombres?.invalid && (nombres?.dirty || nombres?.touched)">
          <section *ngIf="nombres?.errors?.['required']" class="alert alert-success">
            El nombre es obligatorio
          </section>
          <section *ngIf="nombres?.errors?.['minlength']" class="alert alert-success">
            Minimo de 3 caracteres
          </section>
          <section *ngIf="nombres?.errors?.['maxlength']" class="alert alert-success">
            Maximo de 25 caracteres
          </section>
        </section>
      </section>
  
      <section class="form-group">
        <label for="apellidos" class="mt-3 h5">Apellidos: <small>mínimo dos apellidos</small></label>
        <input formControlName="apellidos" minlength="6" type="text" class="form-control my-3" id="apellidos" name="apellidos" required pattern="^[a-zA-Z]+(\s[a-zA-Z]+)+$" autocomplete="off">
        <section *ngIf="apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)">
          <section *ngIf="apellidos?.errors?.['required']" class="alert alert-success">
            los apellidos son obligatorios
          <!-- </section>
             <section *ngIf="apellidos?.errors?.['pattern']" class="alert alert-success">
            Mínimo 2 apellidos
          </section>
          <section> -->
            
            <!-- <div [hidden]="!apellidos?.valid">apellido error</div> -->
          </section>
          <section *ngIf="apellidos?.errors?.['minlength']" class="alert alert-success">
            Minimo de 6 caracteres
          </section>
        </section>
      </section>
      <section class="form-group">
        <label for="email" class="mt-3 h5">Email: </label>
        <input formControlName="email" type="email" class="form-control my-3" id="email" name="email" required autocomplete="off">
        <section *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <section *ngIf="email?.errors?.['required']" class="alert alert-success">
            el email es requirido es obligatorio
          </section>
          <section *ngIf="email?.errors?.['email']" class="alert alert-success">
            Debe ser un correo valido
          </section>
        </section>
      </section>
      <section class="form-group">
        <label for="website" class="mt-3 h5">Website:</label>
        <input formControlName="website" type="text" class="form-control my-3" id="website" name="website" required>
        <section *ngIf="website?.invalid && (website?.dirty || website?.touched)">
          <section *ngIf="website?.errors?.['required']" class="alert alert-success">
            Es requerido
          </section>
        </section>
      </section>
      <div class="py-4">
        <input class="btn btn-dark d-block mx-auto px-4 py-2" type="submit" value="Guardar"> <!-- por eso tambien ya no usariamos [disabled]="registroform.invalid" -->
      </div>
      <section>
        {{res}}
      </section>
    </form>
  </section>
  